.list {
  display: flex;
  flex-direction: column;
  margin-top:65px;

  .empty{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desc{
      margin-top:25px;
    }
  }
}
