@import "./../../styles/variables.scss";

.entry {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray1;
  padding: 10px 0px;
  text-decoration: none;

  .icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }

  .name {
    @include ellipsis; 
    color: $text1;
    width: 85%;
  }
}
